@model ENTIDAD.Departamento

@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form action="@Url.Action("Crear", "Departamento")" method="post" id="frmDepartamento">

    @*@using (Html.BeginForm("Crear", "Departamento", FormMethod.Post))
    {*@
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Crear Departamento</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Nombre del Departamento </label>
            @*@Html.LabelFor(model => model.NombreDepartamento, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">
            <input type="text" class="form-control" id="NombreDepartamento" name="NombreDepartamento"
                   placeholder="Ingrese Nombre del Departamento" />
            @*@Html.EditorFor(model => model.NombreDepartamento, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NombreDepartamento, "", new { @class = "text-danger" })*@
        </div>
        </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Crear" class="btn btn-default" />
                </div>
            </div>
        </div>
    @*}*@

</form>
    <div>
        @Html.ActionLink("Regresar", "Index", "Departamento")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
